.authenticated-layout {
  height: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.theme-rs {
  height: 100%;
}

#root {
  height: 100%;
}

.content-layout {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.sidemenu-collapsed + .content-layout {
  width: calc(100% - 60px);
}

main {
  height: 100%;
  // height: calc(100% - 62px);
  background: #2b3647;
}
