.home-component {
  color: #fff;
  display: flex !important;
  flex-direction: column;
  overflow: auto;
}

.home-body {
  margin-top: 15px;
  clear: both;
}

.register-transfer {
  width: 100px;
  margin-left: 1%;
}
